html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Ensure the body takes up the full height */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #13152A; /* Setting the background color directly on the body */
}

.game_body {
    width: 1920px;
    height: 920px; /* Take the full height of the body */
    display: flex;
    justify-content: center;
    align-items: center;
}

.game_board {
    width: 1609px;
    height: 100%; /* Fill the full height of game_container */
    background: #0B0D22;
    box-shadow: 8px 8px 14px rgba(0, 0, 0, 0.25);
    text-align: center;
    padding-top: 154px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    /* background: red; */
    color: #FFFFFF; /* Text color */
    font-family: 'Montserrat', sans-serif; /* Font family */
    font-size: 48px; /* Font size */
    line-height: 60px; /* Line height */
    font-weight: 500; /* Medium weight */
    font-style: italic; /* Italic style */
    letter-spacing: 2px; /* Letter spacing */
    height: 60px;
}

.choose_buttons{
    margin: auto;
    margin-top: 133px;
    display: flex;
    text-align: center;
    width: 1092px;
    justify-content: space-between;
    color: aliceblue;
}

.type_button{
    width: 300px;
    height:230px;
    border-radius: 10px;
    background: red;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.play_txt{
    font-family: 'Montserrat', sans-serif; /* Font family */
    font-size: 31px;
    color:rgba(255, 255, 255, 0.7);
    line-height: 60px; /* Line height */
    font-weight: 600; /* SemiBold weight */
    letter-spacing: 2px; 
}

.type_txt{
    font-family: 'Montserrat', sans-serif; /* Font family */
    font-size: 28px;
    font-weight: bold;
}

#local_button{
    background: linear-gradient(90deg, #A078B3,#C2A4CB);
    box-shadow: 5px 5px 10px #8D6B98;
}

#local_button:hover{
    background: linear-gradient(90deg, #7911a5,#c183c5);
    box-shadow: 5px 5px 10px #5a3f63;
    width: 310px;
    height: 240px;
}

#online_button{
    background: linear-gradient(90deg, #598CAE,#AAD7F5);
    box-shadow: 5px 5px 10px #5B9FCD;
}

#online_button:hover{
    background: linear-gradient(90deg, #228FD8,#75B0D7);
    box-shadow: 5px 5px 10px #52a2d6;
    width: 310px;
    height: 240px;
}

#tour_button{
    background: linear-gradient(90deg, #DFB168,#FFD28A);
    box-shadow: 5px 5px 10px #f3bc65;
}

#tour_button:hover{
    background: linear-gradient(90deg, #B68A43,#FBC36A);
    box-shadow: 5px 5px 10px #f5b754;
    width: 310px;
    height: 240px;
}