html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;/* Setting the background color directly on the body */
    width: 1920px;
    height: 920px;
}

.game_body {
    width: 1920px;
    height: 920px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1D2046; 
}

.game_container{
    /* background-color: red; */
    width: 1086px;
    height: 746px;
    /* margin-top: 77px; */
    margin: auto ;
    margin-top: 79px;
    align-items: center;
}

.keysInfo{
    height: 48px;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    font-weight: 50;
    font-style: italic;
    color: #D0C8C8;
    font-size: 10px;
}

.key{
    font-family: 'Angkor';
    font-weight: 700;
    font-style: normal;
    font-size: 20px;

}

.separate{
    width: inherit;
    height: 13px;
    
}

.playersInfo{
    display: flex;
    width: inherit;
    height: 60px;
    background: #0E102C;
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
    
}
.player_img{
    width: 67px;
    height: inherit;
    background: red;
}



#lplayer_info{
    border-bottom: 2px  #F35969  solid;
}
#rplayer_info{
    border-bottom: 2px  #34CA54  solid;
}

#lplayer_img{
    background-image: url('../images/aankote.jpeg');
    width: 67px;
    height: 60px;
    background-size: 67px 60px;
    border-top-left-radius: 13px;
}

#rplayer_img{
    background-image: url('../images/abelhadj.jpg');
    width: 67px;
    height: 60px;
    background-size: 67px 60px;
    border-top-right-radius: 13px;
}

.player_info{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    border-top-right-radius: 13px;
    width: 478px;
}

.player_name{
    font-family: 'alata';
    font-size: 14px;
    color: white;
    font-weight: 700;
}

.game{ 
    width: inherit;
    height: 624px;
    background: #0B0D22;

}

.player_score{
    font-family: 'Archivo';
    color: mistyrose;
    font-size: 40px;
    color: rgb(255, 220, 66);
}

#table{
    width: inherit;
    height: 624px;
    background-color: #0B0D22;
    box-shadow: 13px 13px 21px 15px rgba(6, 6, 6, 0.25);;
}


