@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

html, body, #page {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}  
  
.game_body {
    width: 100vw;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background:#2E305A;
}

.page_container{
    width: 69%;
    height: 100%;
    background-color: #2c2c36;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.single-titles{
    width: 100%;
    height: 20%;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    padding-top: 4%;
}

.oneVone{
    text-align: center;
    font-weight: 800;
    font-size: 33px;
    letter-spacing: 7px;

}

.custom{
    color: #D4C9C9 ;
    text-align: center;
    font-size: 13px;
    padding-top: 10px;

}

.blocks{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.customTable{
    display: flex;
    flex-direction: column;
    width: 31%;
    box-sizing: border-box;
    align-items: center;
    position: relative;
    margin-top: 2%;
}

.customPlayers{
    margin-top: 2%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 69%;
    display: flex;
    align-items: center;
}

.customTabelTitle{
    width: 100%;
}

.tables{
    border-radius: 15px;
    width: 60%;
    height: calc(30vw / 3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    box-sizing: border-box;
}

.footballTbl:hover{
    width: 58%;
    background: #3A3A45;
}

.standardTbl:hover{
    background: #3A3A45;
    width: 58%;
}

.classicTbl:hover{
    background: #3A3A45;
    width: 58%;
}
.classicTbl>.table{
    background: #000;
}
.standardTbl>.table{
    background: #4B4848;
}
.footballTbl>.table{
    background: repeating-linear-gradient(
        90deg, 
        #4CAF50, /* Darker green */
        #4CAF50 5%, 
        #8BC34A 5%, /* Lighter green */
        #8BC34A 10%
    );
}
.table{
    width: 80%;
    height: 6.3vw;
    border: solid 1px white;
    border-radius: 10px;
    position: relative;
}

.table>.lpaddle,.table>.rpaddle
{
    width: 1%;
    height: 20%;
    background: #fff;
    position: absolute;
}
.table>.lpaddle{
    top: 40%;
    left: 3%;
}
.table>.rpaddle{
    top: 40%;
    right: 3%;
}

.table>.net{
    height: 90%;
    position: absolute;
    border-left: 1px dashed white;
    left: 50%;
    top: 5%;
}

.table>.ball{
    position: absolute;
    width: .3vw;
    height: .3vw;
    border-radius: 50%;
    background: white;
    left: 25%;
    top: 40%;
}

.type{
    padding-top:5%;
    box-sizing: border-box;
}


.selectedTable {
    background-color: #3A3A50; /* Clicked color */
}

.paddles>.selectedPaddle {
    border-color: #1E90FF; /* Clicked color */
}

.customTable::after{
    position: absolute;
    content: '';
    width: 1px;
    height: 20vw;
    background: #4c4b4b;
    right: 0;
    top: 6vw;
}

.players{
    width: 100%;
    height: 60%;
    display: flex;
    box-sizing: border-box;
    margin-top: 3%;
}

.player
{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player1>.player-title{
    color: #1E90FF;
}

.player2>.player-title{
    color: #F35969;
    
}

.single-title
{
    width: 100%;
    height: 6%;
    display: flex;
    justify-content: center;
    font-weight: 600;
}

.player-title{
    width: 100%;
    height: 9%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 1.2; /* Adjust based on your design needs */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player>input
{
    position: relative;
    width: 60%;
    height: 2.8vw;
    background: #3C3C47;
    border: solid 1px #666673;
    border-radius: 10px;
    margin-top: 6%;
    padding-left: 10%;
    color: #D7D7DB;
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.choosePaddle{
    width: 80%;
    height: 5%;
    padding-top: 3%;
    display: flex;
    justify-content: center;
}

.paddles{
    width: 60%;
    height: 4vw;
    display: flex;
    justify-content: space-between;
}

.paddles>div{
    display: flex;
    width: 30%;
    height: 100%;
    background: #3C3C47;
    border: solid 1px #4C4C58;
    box-sizing: border-box;
    border-radius: 8px;
    position: relative;
    align-items: center;
    justify-content: center;
}

.paddles>div>div
{
    content: '';
    width: 8%;
    height: 55%;
    left: 49%;
    border-radius: 7px;
}

.basic>div{
    background-color: #D9D9D9;
}
.blood>div{
    background-color: #F35969;
}
.ice>div{
    background-color: #1E90FF;
}
/* .paddles>div:hover{
    opacity: .75;
} */

.player>button{
    width: 60%;
    height: 2.2vw;
    box-sizing: border-box;
    margin-top: 5%;
    border: none;
    border-radius: 9px;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.player1.player>button{
    box-shadow: 0px 7px 0px #4A83CF;
    background-color: #1E90FF;
}
.player2.player>button{
    box-shadow: 0px 7px 0px #955259;
    background-color: #F35969 ;
}

.customPlayers>button{
    width: 30%;
    height: 2.7vw;
    box-shadow: 0px 4px 0px #1D767C;
    background-color: #41ADB5 ;
    border: none;
    border-radius: 9px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 18px;
}

.player1>input::after {
    content: "Name field cannot be empty*";
    color: red;
    position: absolute;
    left: 5%;
    font-size: 12px;
    top: 5%;
}