
.button-container {
    text-align: center;
}

.game-button {
    display: inline-block;
    width: 150px;
    height: 200px;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.game-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.play-bot-button {
    background-color: #28a745;
}

.play-bot-button:hover {
    background-color: #218838;
}

.waiting-container {
    text-align: center;
    padding: 50px;
    background-color: #ffffff;
    border: 2px solid #007bff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.waiting-text {
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
}

.form-container {
    text-align: center;
    padding: 50px;
    background-color: #ffffff;
    border: 2px solid #007bff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.submit-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.victory-message {
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    padding: 40px 60px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    animation: fadeIn 2s ease-in-out;
}

.victory-message h1 {
    font-size: 3em;
    margin: 0 0 20px;
    color: #ffd700;
}

.victory-message p {
    font-size: 1.5em;
    margin: 0;
    color: #ff4500;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.tournament {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.player {
    flex: 1 0 25%;
    /* Four players per row */
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    margin: 5px;
    background-color: #f9f9f9;
}

.player:nth-child(4n) {
    border-right: none;
}

.tournament:nth-child(4n+4) .player {
    border-bottom: none;
}

.container {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.button-container {
    text-align: center;
}

.btn {
    display: block;
    width: 200px;
    padding: 15px;
    margin: 10px auto;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}